@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: rgb(31 42 56);
}

@layer base {
    @font-face {
        font-family: Inter;
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 100%;
        color: #FFFFFF;
    }

    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }
}

@layer utilities {
    .border-bottom-color {
        border-bottom-color: white;
    }
    .btn-container-width {
        max-width: 485px
    }
    .btncolor {
        color: white;
    }
    .img-rounded {
        border-radius: 9999px;
    }
    .gradient-btn-color {
        background: linear-gradient(90deg, #DFAF3F 0%, #E15C5C 100%)
    }
    .outline-zero {
        outline-width: 0px;
    }
    .button-dft {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border: 0;
        border-radius: 0;
        background: #ccc;
    }

    .form-p {
        padding: 26px 20px 26px 19px;
    }

    .form-bg {
        background: #273040;
    }

    .form-input-bg {
        background: #313D4D;
    }

    .form-input-h {
        height: 33px;
    }

    .form-input-year {
        width: 106px;
    }

    .form-input-cvc {
        width: 88px;
    }

    .color-gold {
        color: #DFAF3F;;
    }

    .pay-form-bg {
        color: #1C2632;
    }

    .tip-btn-font {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 100%;
    }
}
