@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: rgb(31 42 56);
}

@layer base {
    @font-face {
        font-family: Inter;
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 100%;
        color: #FFFFFF;
    }
}

@layer utilities {
    .border-bottom-color {
        border-bottom-color: white;
    }
    .btn-container-width {
        max-width: 485px
    }
    .btncolor {
        color: white;
    }
    .img-rounded {
        border-radius: 9999px;
    }
    .gradient-btn-color {
        background: linear-gradient(90deg, #DFAF3F 0%, #E15C5C 100%)
    }
    .outline-zero {
        outline-width: 0px;
    }
    .button-dft {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border: 0;
        border-radius: 0;
        background: #ccc;
    }
}
